<h1>Login</h1>

<div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Your username</mat-label>
                <input matInput formControlName="username" type="text" required>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field appearance="fill">
                <mat-label>Your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>

        <button mat-flat-button type="submit" color="accent">Login</button>
        <button mat-flat-button type="button" color="primary" routerLink="/">Go Back</button>
    </form>
</div>